<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/app.css" rel="stylesheet" type="text/css"/>
    <title>BattleShip</title>
</head>
<body>

    @RenderBody()

    <script asp-src-include="~/dist/api.js" asp-append-version="true" type="text/javascript"></script>
    <script asp-src-include="~/dist/app.js" asp-append-version="true" type="text/javascript"></script>

</body>
</html>