@import "~bulma/bulma";

#game-screen {
  .overlap {
    position: relative;
    top: -2rem;
  }

  .turn-overlay {
    position: absolute;
    margin: .75rem;
    top: 0;
    left: 0;
    right: -1px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remaining-ships {

    .desc {
      margin-bottom: .25rem;
      font-weight: 500;
    }

    .columns {
      justify-content: space-around;
    }

    .ship-cell {
      width: 1rem;
      height: 1rem;
      background-color: $black;
      margin-bottom: 1px;

      &.sunk {
        background-color: $red;
      }
    }

  }
}