@import "../../styles";

#game-screen {
  .overlap {
    position: relative;
    top: -2rem;
  }

  .turn-overlay {
    position: absolute;
    margin: .75rem;
    top: 0;
    left: 0;
    right: -1px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remaining-ships {
    background-color: $light-shade;
    position: relative;
    z-index: 2;

    .desc {
      margin-bottom: .25rem;
      font-weight: 500;
    }

    .columns {
      justify-content: space-around;
    }

    .ship-cell {
      width: 1rem;
      height: 1rem;
      background-color: $black;
      margin-bottom: 1px;

      &.sunk {
        background-color: $red;
      }
    }
  }

  .notify-sunk {
    background-color: transparentize($success, 0.25);
    box-shadow: $box-shadow;
    border-radius: $radius-large;
    font-weight: 500;
    width: 95%;
    padding: 0.25rem;
    position: absolute;
    top: -36px;
    left:2.5%;
    z-index: 1;
    animation: slide-in 0.25s ease-out;
    overflow: hidden;

    @keyframes slide-in {
      from {
        top: 0;
      }
      to {
        top: -36px;
      }
    }
  }
}
