@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<div id="app"></div>

@*<h2>BattleShip</h2>

<span id="loading-span">Loading...</span>

<form id="set-name-form" action="#">
    Player Name:

    <input type="text" id="set-name-textbox" />
    <button id="set-name-button" type="submit">Set</button>
</form>

<div>LobbyId: <span id="lobbyid-span"></span></div>

<div>
    <div>Players:</div>
    <select id="players-select" multiple></select>
</div>

<div>
    <div>Games:</div>
    <select id="games-select" multiple></select>
</div>

<div>
    <div>Stuff:</div>
    <div id="stuff-div"></div>
</div>*@



