html,
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

.ta-center {
    text-align: center;
}

#game-screen table {
    border-collapse: collapse;
}

#game-screen table.disabled td{
    cursor: default;
}

#game-screen td {
    border: 1px solid #aaa;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: crosshair;
}

#game-screen td.marker {
    border: 0;
}

#game-screen td.free {
    background-color: #fdfdfd;
}

#game-screen td.ship {
    background-color: black;
}

#game-screen td.shiphit {
    background-color: rgba(255, 0, 0, 0.75);
}

#game-screen td.miss {
    background-color: lightskyblue;
}

#game-screen .turn-overlay{
    position:  absolute;
    top: 0;
    left:  0;
    right: -1px;
    bottom:  0;
    background-color: rgba(255,255,255,0.5);
}