@import "../styles.scss";

html {
  background-color: $light-shade;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a2d2f6' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html,
body {
  line-height: 1.5rem;
  height: 100%
}

.hero {
  background-color: $dark-shade;
  color: $light-shade;

  .title {
    color: $light-shade;
  }
}

.ta-center {
  text-align: center;
}

.pt-3 {
  padding-top: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100%;
  overflow-y: scroll !important;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100%;
  padding-right: 0 !important;
}
