@import "~bulma/bulma";

$cell-size: 2.5rem;

.game-board {
  display: flex;

  .grid {
    display: grid;
    grid-template-columns: repeat(11, $cell-size [col-start]);
    grid-template-rows: repeat(11, $cell-size [row-start]);
    box-shadow: 0 0 10px $grey-lighter;
    background-color: $grey-lighter;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  .cell {
    align-self: stretch;
    text-align: center;
    line-height: $cell-size;
    text-transform: uppercase;

    &.marker {
      background-color: $white-ter;
      user-select: none;
    }

    &.free {
      background-color: $white;
    }

    &.ship {
      background-color: $black;
    }

    &.shiphit {
      background-color: $red;
    }

    &.miss {
      background-color: $blue;
    }
  }

  &.clickable {
    .cell {
      &.free {
        cursor: pointer;

        &:hover {
          box-shadow: inset 0 0 5px $grey-light;
          transition: box-shadow 150ms ease-out;
        }
      }
    }
  }
}